:root {
    background-color:rgb(43, 8, 120);
    font-size:62.5%;
}

*{
    box-sizing: border-box;
    font-family: Arial, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(187, 98, 3);
}
h1,
h2,
h3,

h4 {
    margin-bottom: 1rem;
}

h1{
    -webkit-text-stroke: 2.5px rgb(113, 43, 0);
    font-size: 7.2rem;
    color:rgb(207, 131, 37);
    margin-bottom: 5rem; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 6px rgb(37, 28, 0);
    
}
h1 > span {
    font-size: 2.4rem;
    font-weight: 500rem;
}
h2 {
    -webkit-text-stroke: .5px rgb(113, 43, 0);
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h3{
    font-size: 2.8rem;
    font-weight: 500;

}
/*utilities*/

.container {
    width: 900px;
    height: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2000rem;
    margin: 0;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/01073865290819.5d61d475f0072.jpg);
    height: 600px;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.container > * {
    width: 90%;

}

.flex-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.text-center {
    text-align: center;
}
.hidden {
    display: none;
}
/* Buttons*/
.btn{
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid rgb(174, 95, 4);
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(125, 67, 6);
    background-color: rgb(239, 221, 62);
    border-radius: 10px;
}
.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(67, 62, 2);
    transform: translateY(-0.1rem);
    transition: transform 150ms;

}
/* turns off button*/
.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform:none;
}
html {
    background: url(https://i.pinimg.com/originals/39/d4/73/39d473c0f8b7b8c42e02ccc9253a7b50.gif);
    background-repeat: repeat;
}
/*end of first page styling*/

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

