*,*::before, *::after {
    box-sizing: border-box;
    font-family: Franklin Gothic Medium;
}
:root {
    --hue-neutral: 262;
    --hue-wrong: 0;
    --hue-correct: 145; 
}


body {
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 20%);
    padding: 0;
    margin: 0;
    display:flex;
    width: 100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

img {
    position: absolute;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 50px;
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: rgb(230, 222, 253);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin: 30px ;
    

}

.btn {
    --hue: var(--hue-neutral);
    border: 5px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    outline: none;
    font-size: 1.25rem;
}

.btn:hover {
    border-color: rgb(121, 58, 255) ;

}
.btn.correct{
    --hue: var(--hue-correct);

}

.btn.wrong {
    --hue: var(--hue-wrong);
    color: black;

}

.start-btn, .next-btn {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;


}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}


body {
    background-image: url(https://i.pinimg.com/originals/39/d4/73/39d473c0f8b7b8c42e02ccc9253a7b50.gif);
}

#scoreboard {
    position: fixed;
    top: 170px;
    left:395px;
    font-size: 2rem;
    border: 5px solid rgb(206, 113, 0);
    background-color: rgb(245, 209, 6);
    border-radius: 10px;
    color: rgb(206, 113, 0);
    padding: 10px;
}
